.user-action-row {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 10px;
    width: 1137px;
    height: 71px;
    margin-left: 100px;
    justify-content: space-between;
}

.checkbox-user-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

.user-image-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.user-checkbox {
    margin-right: 10px;
}

.user-index,
.user-name,
.user-birthdate,
.user-group {
    font-family: Mada;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: var(--color-primary-3)
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4cafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.user-name {
    flex: 2;
    color: #333;
    font-size: 14px;
}

.user-gender {
    font-family: Mada;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: var(--color-accent-1);
}

.status-button {
    border: none;
    background: none;
    cursor: pointer;
}

.action-button {
    background: none;
    border: 1px solid var(--color-light-gray-2);
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    width: 52px;
    height: 33px;

}

.edit-delete-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    background: none;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

.edit-button {
    color: #6c757d;

}

.delete-button {
    color: #dc3545;
}